@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

body {
    font-family: 'El Messiri', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
header {
    width: 1024px;
}
main {
    width: 1024px;
}
footer {
    color:#042940;
    font-size: 15px;
    width: 1024px;
    text-align: center;
}
ul {
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color:grey;
}
.container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 1024px;
    margin: 20px;
    background-color: ;
    padding: 15px;
    border-radius: 10px;
}
.container:nth-child(2) {
    flex-direction: column;
    background-color: rgba(243, 243, 243, 0.521);
}
.text {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
img {
    width: 400px;
    height:400px;
}
.logo {
    color:#042940;
}
.nice {
    color:grey;
    font-size: 30px;
}
.lets_create {
    color:mediumvioletred;
    font-size: 50px;
}
.student {
    background-color:mediumvioletred;
    color:white;
    font-size: 11px;
    margin:8px;
    padding:8px;
    height:16px;
    border-radius: 8px;
    text-align: center;
}
.resume {
    width:120px;
    padding:15px;
    background-color:mediumvioletred;
    color:white;
    border-radius:9px;
    margin: 15px;
    text-align: center;
    display:block;
}
.projects {
    width:120px;
    padding:15px;
    background-color:white;
    color: grey;
    border-radius:9px;
    border: solid grey 1px;
    margin: 15px;
    text-align: center;
    display:block;
}
.resproj {
    display:flex;
    justify-content: space-between;
    
}
.grey {
    color: grey;
    font-size: 15px;
    width: 600px;
}
.black {
    font-size: 20px;
    color:#042940;
}
.about {
    color:#042940
}
.icons {
    width: 200px;
    color:#042940;
}
.fa-brands {
    font-size: 30px;
    padding: 8px;
}